pypdf
transformers
einops
accelerate
langchain
bitsandbytes
sentence_transformers
llama-index
llama-hub
llama-index-llms-huggingface
llama-index-embeddings-langchain
streamlit
torch
torchvision
torchaudio
langchain-community 
xformers 
sentencepiece
scipy
pydantic
python==3.10
